/*

===============================
Footer Area
===============================

*/
.footer-area {
  position: relative;
  overflow: hidden;
  z-index: 1;
  .footer-logo {
    @media(max-width: 575px){
        float: none;
        text-align: center;
        margin-bottom: 40px;
    }
    a {
        width: 100px;
        img {
            height: 30px;
        }
    }
  }
  .footer-nav {
      float: right;
      @media(max-width: 575px){
        float: none;
        text-align: center;
      }
      ul {
          li {
              margin: 0 10px;
              display: inline-block;
              a {
                  font-weight: 400;
                  font-size: 14px;
                  color: rgba($cl-white, $alpha: 0.5);
                  &:hover {
                      color: $cl-primary;
                      border-bottom: 1px solid $cl-primary;
                  }
              }
          }
      }
  }

  .copyright {
      border-top: 1px solid rgba($cl-white, $alpha: 0.1);
      padding-top: 40px;
      margin-top: 40px;
      color: rgba($cl-white, $alpha: 0.5);
      .copyright-text {
          margin-bottom: 0;
          font-size: 14px;
          @media(max-width: 575px) {
            float: none;
            text-align: center;
        }
      }
      .social {
        float: right;
        @media(max-width: 575px) {
            float: none;
            text-align: center;
        }
        a {
            font-size: 20px;
            display: inline-block;
            margin: 0 8px;
            color: rgba($cl-white, $alpha: 0.3);
            &:hover {
                color: $cl-primary;
            }
        }
      }
  }
}

