/*

==========================
  Main Header style
==========================

*/

  
.header-area {
  padding: 10px 0;
  transition: 0.4s;
  width: 100%;
  z-index: 11;
  &.fixed-header {
    padding: 10px 0;
    transition: 0.4s;
    width: 100%;
    top: 0;
    z-index: 11;
    background: #fff;
    position: fixed;
    ul {
      li {
        &::before {
          color: $cl-black;
        }
        &:hover {
          &::before {
            color: $cl-primary;
          }
        }
        a {
          color: $cl-black;
          @media(max-width: 991px){
            color: $cl-white;
          }
          &:hover {
            color: $cl-primary;
          }
        }
      }
    }
    .header-btn {
      button {
        color: $cl-black;
      }
    }
  }
}
  
  
  .header-sticky {
    background: transparent;
  }
  
  .sticky-header {
    background: $cl-white;
    padding: 10px 0;
  }
  
  .navbar-brand img {
    height: 32px;
    width: auto;
  }
  
  .main-menu {
    padding-left: 0;
    padding-right: 0;
    ul {
      li {
        margin-right: 25px;
        // &:last-child {
        //   margin-right: 0px;
        // }
        &:hover {
          a {
            color: $cl-primary;
          }
        }
        a {
          color: rgba($cl-white, $alpha: 0.6);
          font-weight: 500;
          text-transform: uppercase;
          font-size: 14px;
          font-family: $headding-font;
        }
        &:nth-last-of-type(1),&:nth-last-of-type(2),&:nth-last-of-type(3) {
          .dropdown-menu {
            .dropdown-menu {
              left: -100%;
              top: 0;
            }
          }
        }
      }
    }
  }

  ul.dropdown-menu li a {
    // text-transform: capitalize;
    font-size: 13px;
  }
    
  
  li.nav-item.dropdown .dropdown-toggle {
    position: relative;
  }
  
  li.nav-item.dropdown .dropdown-toggle:before {
    position: absolute;
    content: "\f107";
    font-family: 'FontAwesome';
    font-size: 16px;
    font-weight: normal;
    right: -7px;
    top: 48%;
    transform: translateY(-48%);
    @media(max-width: 991px){
      display: none;
    }
  }
  
  
  .dropdown-menu li.nav-item.dropdown:before {
    position: absolute;
    content: "\f107";
    font-family: 'FontAwesome';
    font-size: 16px;
    right: 15px;
    top: 48%;
    transform: translateY(-48%) rotate(-90deg);
    color: $cl-black;
  }
  
  
  
  .dropdown a {
    transition: 0.4s;  
  }



  
  .dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    display: block;
    background: $cl-blue-2;
    margin-top: 17px;
    width: 260px;
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: 0px 7px 20px -14px rgb(0,0,0);
    box-shadow: 0px 7px 20px -14px rgb(0,0,0);
  }
  


  .dropdown:hover > .dropdown-menu {
      opacity: 1;
      visibility: visible;
  }
  
  .dropdown-menu a {
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 14px;
      color: rgba($cl-white, $alpha: 0.6) !important;
      border-radius: 4px;
  }

  ul.dropdown-menu li a:hover {
      background: rgba($cl-white, $alpha: 0.07);
  }
  
  .dropdown-menu a:hover {
      background: transparent;
      color: $cl-primary !important;
  }
  
  
  .dropdown-menu a:active{
      background: transparent;
  }

  ul.dropdown-menu li .dropdown-menu {
      left: 100%;
      top: 0;
  }
  ul.dropdown-menu li .dropdown-menu.show {
    @media(max-width:991px){
      visibility: visible;
      opacity: 1;
    }
  }

  .dropdown-item:focus {
    color: $cl-primary !important;
    background: rgba($cl-white, $alpha: 0.05);
  }


  .main-menu ul li ul li {
    // margin-right: 0;
    margin: 0 8px;
  }




  
  .menu-toggle {
   position: relative;
   display: block;
   width: 25px;
   height: 20px;
   background: transparent;
   border-top: 2px solid $cl-white;
   border-bottom: 2px solid $cl-white;
   color: $cl-black;
   font-size: 0;
   -webkit-transition: all 0.25s ease-in-out;
   -o-transition: all 0.25s ease-in-out;
   transition: all 0.25s ease-in-out;
  }
  .menu-toggle:before, .menu-toggle:after {
   content: '';
   display: block;
   width: 100%;
   height: 2px;
   position: absolute;
   top: 50%;
   left: 50%;
   background:$cl-white;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   transition: -webkit-transform 0.25s ease-in-out;
   -webkit-transition: -webkit-transform 0.25s ease-in-out;
   -o-transition: -webkit-transform 0.25s ease-in-out;
   transition: transform 0.25s ease-in-out;
   -moz-transition: -webkit-transform 0.25s ease-in-out;
   -ms-transition: -webkit-transform 0.25s ease-in-out;
  }
  span.is-active {
   border-color: transparent;
  }
  span.is-active:before {
   -webkit-transform: translate(-50%, -50%) rotate(45deg);
   -ms-transform: translate(-50%, -50%) rotate(45deg);
   transform: translate(-50%, -50%) rotate(45deg);
  }
  span.is-active:after {
   -webkit-transform: translate(-50%, -50%) rotate(-45deg);
   -ms-transform: translate(-50%, -50%) rotate(-45deg);
   transform: translate(-50%, -50%) rotate(-45deg);
  }
  span.menu-toggle:hover {
   color: #ffb606;
  }
  span.is-active {
   border-color: transparent;
  }
  span.is-active:before {
   -webkit-transform: translate(-50%, -50%) rotate(45deg);
   -ms-transform: translate(-50%, -50%) rotate(45deg);
   transform: translate(-50%, -50%) rotate(45deg);
  }
  span.is-active:after {
   -webkit-transform: translate(-50%, -50%) rotate(-45deg);
   -ms-transform: translate(-50%, -50%) rotate(-45deg);
   transform: translate(-50%, -50%) rotate(-45deg);
  }
  
  .dropdown-toggle::after {
    display: none;
  }
  

.black-bg .menu-toggle {
  border-top: 2px solid $cl-white;
  border-bottom: 2px solid $cl-white;
}

.black-bg .menu-toggle::before, .black-bg .menu-toggle::after {
  background: $cl-white;
}
.black-bg .menu-toggle.is-active {
  border-color: transparent;
} 
  
  
  
  .header-btn {
    margin-left: 40px;
  }
  
  
  
  .search-btn {
    font-size: 14px;
    color: $cl-white;
    display: inline-block;
  }
  
  
  
  
  /* Full Screen Search */
  .search-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    background: $cl-primary;
    z-index: 999;
    transition: all 0.3s ease-in-out;
    transform-origin: top;
  }
  .search-full.open {
    height: 150px;
    opacity: 1;
    visibility: visible;
  }
  .search-full.close {
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
  .search-full .search-close {
    color: $cl-primary;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9;
    background: transparent;
    color: $cl-white;
    transform: rotate(45deg);
    &:hover {
      transform: rotate(135deg);
    }
  }
  .search-full--inner {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%
  }
  .main-search-form {
    width: 100%
  }
  .main-search-form input {
    border: 2px solid $cl-white;
    width: 100%;
    background-color: transparent;
    color: $cl-white;
    height: 55px;
    font-size: 18px;
    font-weight: 300;
    text-indent: 20px;
    transition: 0.4s;
    &:focus, &:hover {
      border: 2px solid $cl-white;
    }
  }
  .main-search-form input::-webkit-input-placeholder {
    color: $cl-white;
  }
  .main-search-form input::-moz-placeholder {
    color: $cl-white;
  }
  .main-search-form input:-ms-input-placeholder {
    color: $cl-white;
  }
  .main-search-form input:-moz-placeholder {
    color: $cl-white;
  }
  
  
  
  
  @media (max-width: 991px){
  
    .navbar-brand {
      margin-left: 15px;
    }
  
    .main-menu ul li {
      margin-right: 0;
      position: relative;
      margin: 3px 0;
    }
  
    .main-menu ul li.dropdown a {
        z-index: 999;
        position: relative;
        color: $cl-white;
    }
    .main-menu ul li a {
      color: $cl-white;
    }
    .main-menu ul li.dropdown:after {
        position: absolute;
        content: "\f107";
        font-family: FontAwesome;
        right: 15px;
        top: 10px;
        color: $cl-white;
        line-height: 25px;
        overflow: hidden;
        z-index: 1;
        width: 25px;
        border-radius: 50%;
        text-align: center;
        background: $cl-blue-2;
    }
  
    .dropdown-menu {
      display: none;
    }
    .dropdown-menu {
      width: auto;
      margin: 10px 15px 10px 0;
      background: $cl-blue-2;
    }
    
    .navbar-collapse {
      margin-top: 20px;
      padding-left: 15px;
      max-height: 450px;
      overflow: auto;
      background: rgba($cl-blue, $alpha: 0.7);
      padding-bottom: 20px;
    }
  
    .cart-btn {
      margin-left: 0;
      margin-top: 15px;
    }
  
    li.nav-item.dropdown:before {
      display: none;
    }
  
  
    .header-btn {
      margin-left: 0;
    }
  
  }
  
  @media (max-width: 575px){
  
    .main-menu {
      padding-left: 15px;
      padding-right: 15px;
    }
    .navbar-brand {
      margin-left: 0;
    }
    .navbar-toggler {
      padding-right: 0;
    }
  }
