/*

===============================
Hero Area
===============================

*/
.hero-area {
  padding: 250px 0;
  color: $cl-white;
  position: relative;
  overflow: hidden;
  z-index: 10;
  @media(max-width: 991px){
    padding: 150px 0;
  }
  @media(max-width: 575px){
    padding: 100px 0;
  }
  .hero-content {
    @media(max-width: 991px){
      margin-bottom: 30px;
    }
    h4 {
      color: $cl-white;
      margin-bottom: 20px;
      font-size: 16px;
      background: rgba($cl-white, $alpha: 0.1);
      padding: 8px 14px;
      display: inline-block;
      border-radius: 40px;
      @media(max-width: 450px) {
        text-align: center;
      }
      span {
        background: $cl-primary;
        color: $cl-blue;
        padding: 3px 10px;
        border-radius: 40px;
        font-size: 10px;
        text-transform: uppercase;
        margin-right: 10px;
      }
    }
    h1 {
      font-size: 72px;
      text-transform: uppercase;
      margin-bottom: 20px;
      color: $cl-primary;
      @media(max-width: 991px){
        font-size: 60px;
      }
      @media(max-width: 575px){
        font-size: 40px;
      }
    }
    h2 {
      font-size: 52px;
      margin-bottom: 20px;
      font-weight: 300;
    }
    p {
      font-size: 18px;
    }
    ul {
      margin-bottom: 40px;
      li {
        position: relative;
        padding-left: 25px;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        &::before {
          position: absolute;
          content: "\e64d";
          font-family: 'themify';
          left: 0;
        }
      }
    }
    a {
      @media(max-width: 575px){
        margin-bottom: 10px;
      }
    }
  }
  .hero-form {
    background: rgba($cl-white, $alpha: 0.09);
    // background-image: radial-gradient(791.1px at 50% 1.82%, #1b2c6b 0, #0b4588 100%);
    color: rgba($cl-white, $alpha: 0.8);
    padding: 25px;
    border-radius: 6px;
    h4 {
      color: $cl-white;
      font-weight: 700;
      text-transform: capitalize;
      margin-bottom: 20px;
    }
    .input-group {
      height: 50px;
      margin-bottom: 20px;
      .form-control, .custom-select {
        height: 100%;
        &:focus {
          outline: none;
          box-shadow: none;
          border-color: #ddd;
        }
      }
      .custom-select {
        width: 50px;
      }
    }
    p {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
}

.hero-slider {
  color: $cl-white;
  .single-slide {
    padding: 220px 0;
    @media(max-width: 991px){
      padding: 150px 0;
    }
    .hero-content {
      @media(max-width: 991px){
        text-align: center;
      }
      h4 {
        color: $cl-primary;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 20px;
        letter-spacing: 2px;
      }
      h1 {
        font-size: 80px;
        text-transform: uppercase;
        margin-bottom: 40px;
        @media(max-width: 991px){
          font-size: 60px;
        }
        @media(max-width: 575px){
          font-size: 40px;
        }
      }
      h2 {
        font-size: 52px;
        margin-bottom: 20px;
        font-weight: 300;
      }
      p {
        font-size: 18px;
      }
      a {
        @media(max-width: 575px){
          margin-bottom: 10px;
        }
      }
    }
  }
  .owl-nav {
    display: block;
    button {
      position: absolute;
      right: 150px;
      bottom: 0px;
      transform: translateY(-50%);
      font-size: 20px;
      color: $cl-black;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      background: rgba($cl-blue, $alpha: 0.5) !important;
      box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
      &.owl-next {
        left: auto;
        right: 50px;
      }
      &:hover {
        background: $cl-blue !important;
      }
    }
    @media (max-width: 991px){
      display: none;
    }
  }
}

.hero-bg-alimation {
  .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    li {
      position: absolute;
      display: block;
      list-style: none;
      width: 25px;
      height: 25px;
      background: rgba($cl-white, $alpha: 1.0);
      animation: animate 20s linear infinite;
      bottom: -150px;
      border-radius: 50%;
      &:nth-child(1) {
        left: 86%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
      }
      &:nth-child(2) {
        left: 12%;
        width: 30px;
        height: 30px;
        animation-delay: 1.5s;
        animation-duration: 10s;
      }
      &:nth-child(3) {
        left: 70%;
        width: 100px;
        height: 100px;
        animation-delay: 5.5s;
      }
      &:nth-child(4) {
        left: 42%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 15s;
      }
      &:nth-child(5) {
        left: 65%;
        width: 40px;
        height: 40px;
        animation-delay: 0s;
      }
      &:nth-child(6) {
        left: 40%;
        width: 110px;
        height: 110px;
        animation-delay: 3.5s;
      }
    }
  }
}


@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}



/*

===============================
Why Choose Us
===============================

*/


.single-why-choose {
  margin-bottom: 60px;
  text-align: center;
  padding: 0 20px;
  color: rgba($cl-white, $alpha: 0.5);
  .icon {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    &::after {
      position: absolute;
      content: "";
      left: -10px;
      top: -20px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      z-index: 0;
      background: rgba($cl-white, $alpha: 0.1);
    }
    i {
      font-size: 60px;
      z-index: 1;
      position: relative;
      color: rgba($cl-primary, $alpha: 0.8);
    }
  }
  .title {
    h3 {
      font-size: 22px;
      margin-bottom: 10px;
      font-weight: 500;
      color: $cl-white;
    }
    p {
      margin-bottom: 0;
    }
  }
}



/*

===============================
Users Area
===============================

*/

.single-product {
  margin-bottom: 30px;
  background: rgba($cl-white, $alpha: 0.1);
  color: rgba($cl-white, $alpha: 0.5);
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: 0.4s;
  .product-pro-img {
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }
  .product-pro-title {
    h3 {
      font-size: 22px;
      display: block;
      font-weight: 500;
      margin-bottom: 10px;
      a {
        color: $cl-white;
        &:hover {
          color: $cl-primary;
        }
      }
    }
    p {
      margin-bottom: 0px;
    }
  }
  &:hover {
    transform: translate3d(0, -8px, 0);
  }
}



/*

===============================
What we do
===============================

*/

.single-what-we-do {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 30px;
  .icon {
    margin-bottom: 20px;
    i {
      font-size: 30px;
      height: 70px;
      width: 70px;
      line-height: 70px;
      text-align: center;
      border-radius: 50%;
      display: inline-block;
    }
  }
  .title {
    margin-bottom: 10px;
    h3 {
      font-size: 20px;
      color: $cl-white;
    }
  }
  p {
    margin-bottom: 0;
    color: rgba($cl-white, $alpha: 0.5);
  }
}

.row [class*="col"] {
  &:nth-of-type(4n+1) {
    .single-what-we-do {
      .icon {
        i {
          color: $cl-primary;
          background-color: rgba($cl-primary, $alpha: 0.1);
        }
      }
    }
  }
  &:nth-of-type(4n+2) {
    .single-what-we-do {
      .icon {
        i {
          color: $cl-mint;
          background-color: rgba($cl-mint, $alpha: 0.1);
        }
      }
    }
  }
  &:nth-of-type(4n+3) {
    .single-what-we-do {
      .icon {
        i {
          color: $cl-green;
          background-color: rgba($cl-green, $alpha: 0.1);
        }
      }
    }
  }
  &:nth-of-type(4n+4) {
    .single-what-we-do {
      .icon {
        i {
          color: $cl-yellow;
          background-color: rgba($cl-yellow, $alpha: 0.1);
        }
      }
    }
  }
}

/*

===============================
App Content
===============================

*/

.app-content {
  .single-app-content {
    text-align: right;
    margin: 50px 0;
    padding: 0 30px;
    color: rgba($cl-white, $alpha: 0.5);
    @media(max-width: 991px){
      text-align: left;
    }
    h3 {
      font-family: $main-font;
      margin-bottom: 15px;
      font-size: 22px;
      color: $cl-white;
      font-weight: 500;
    }
  }
  .middle-img {
    border-radius: 50px;
  }
}
.row [class*="col"] {
  &:last-child {
    .app-content {
      .single-app-content {
        text-align: left;
      }
    }
  }
}



/*

===============================
Single new Counter
===============================

*/

.single-new-counter {
  margin-bottom: 30px;
  text-align: center;
  color: $cl-white;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    width: 3px;
    background: $cl-primary;
    top: 90px;
  }
  @media (max-width: 575px) {
    margin-bottom: 50px;
  }
  i {
    font-size: 62px;
    display: block;
    line-height: initial;
    margin-bottom: 50px;
  }
  h3 {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: 2px;
    color: $cl-primary;
  }
  h5 {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
  }
}



/*

===============================
Testimonials
===============================

*/
.testimonials {
  position: relative;
  &::before {
    position: absolute;
    content: "\f118";
    font-family: Flaticon;
    font-size: 70px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba($cl-black, $alpha: 0.6);
    color: $cl-primary;
  }
  .single-testimonial {
    margin-top: 100px;
    .text {
      font-size: 22px;
      margin-bottom: 30px;
      font-weight: 400;
      line-height: 1.6;
      color: rgba($cl-white, $alpha: 0.5);
    }
    .person {
      color: rgba($cl-white, $alpha: 0.5);
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: auto;
        filter: grayscale(100%);
        margin-bottom: 20px;
      }
      h4 {
        font-size: 18px;
        margin-bottom: 0px;
        font-family: $main-font;
        color: $cl-white;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
  .owl-nav {
    opacity: 0;
    transition: 0.4s;
    button {
      height: 45px;
      width: 45px;
      line-height: 45px;
      border-radius: 50%;
      text-align: center;
      position: absolute;
      left: -100px;
      top: 30%;
      &.owl-prev {
        color: rgba($cl-black, $alpha: 0.6);
        font-size: 22px;
        background: $cl-primary;
        @media(max-width: 991px){
          left: 0;
        }
      }
      &.owl-next {
        left: auto;
        right: -120px;
        color: rgba($cl-black, $alpha: 0.6);
        font-size: 22px;
        margin-right: 40px;
        background: $cl-primary;
        @media(max-width: 991px){
          right: 0;
          margin-right: 0px;
        }
      }
      &:hover {
        background: rgba($cl-primary, $alpha: 0.2);
        color: $cl-primary;
      }
    }
  }
  &:hover {
    .owl-nav {
      opacity: 1;
    }
  }
}

/*

===============================
Pricing area
===============================

*/
  
.single-price-table {
  text-align: center;
  position: relative;
  height: auto;
  background: rgba($cl-white, $alpha: 0.08);
  border-radius: 12px;
  margin-bottom: 30px;
  padding: 40px 0;
  color: rgba($cl-white, $alpha: 0.5);
  .pricing-title {
    i {
      font-size: 36px;
      line-height: 80px;
      text-align: center;
      display: inline-block;
      margin-bottom: 5px;
      color: $cl-primary;
    }
    h2 {
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 20px;
      color: $cl-white;
    }
  }
  .pricing-price {
    h4 {
      font-size: 42px;
      font-weight: 400;
      span {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  .pricing-body {
    margin-bottom: 20px;
    ul {
      li {
        font-size: 16px;
        font-weight: 300;
        padding: 14px 0;
        i {
          margin-right: 5px;
        }
        &.cross {
          i {
            color: $cl-red;
          }
        }
      }
    }
  }
  .feature-price {
    position: absolute;
    height: 60px;
    width: 40px;
    background: rgba($cl-white, $alpha: 0.2);
    top: -10px;
    right: 20px;
    &::before {
      border-color:rgba($cl-white, $alpha: 0.2) transparent transparent rgba($cl-white, $alpha: 0.2);
      border-style: solid;
      border-width: 10px 10px;
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0;
    }
    &::after {
      border-color: rgba($cl-white, $alpha: 0.2) rgba($cl-white, $alpha: 0.2) transparent transparent;
      border-style: solid;
      border-width: 10px 10px;
      content: "";
      position: absolute;
      bottom: -20px;
      right: 0;
    }
  }
}

  
  
/*

===============================
Team area
===============================

*/
.team-box{
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  img {
    transition: all 0.3s ease-in-out;
  }
  .hover {
    background: #111;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba($cl-primary, $alpha: 1.0));
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 100px 0 15px 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
    p {
      text-transform: uppercase;
      font-size: 11px;
      display: block;
      color: #fff;
      letter-spacing: 0.5px;
      font-weight: 700;
    }
    .team-social{
      opacity: 0;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-transition-delay: 0.3s;
      -moz-transition-delay: 0.3s;
      -o-transition-delay: 0.3s;
      transition-delay: 0.3s;
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -o-transform: translateY(10px);
      transform: translateY(10px);
      li {
        display: inline-block;
        margin-right: 15px;
        a {
          display: inline-block;
          color: #fff;
        }
      }
    }
  }
  h4 {
    color: #fff;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    opacity: 0;
    transition: all 0.2s ease-in-out;    
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 5px;
    &:hover {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      opacity: 1;
      .team-social {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        opacity: 1;
      }
    }
  }
  &:hover {
    img {
      transform: scale(1.08);
      transition: .4s;
    }
    .hover {
      visibility: visible;
      opacity: 1;
    }
    h4 {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      opacity: 1;
    }
    .team-social {
      transform: translateY(0);
        -webkit-transform: translateY(0);
        opacity: 1;
    }
  }
}


  
/*

===============================
News Section
===============================

*/
  
  .news-section{
    position: relative;
  }
  
  .news-section .news-carousel{
    position: relative;
    padding-bottom: 85px;
    margin-bottom: 170px;
  }
  
  .news-block{
    position: relative;
  }
  
  .news-block .inner-box{
    position: relative;
      display: block;
      padding: 40px 30px 35px;
      padding-left: 100px;
      background: rgba($cl-white, $alpha: 0.03);
      color: rgba($cl-white, $alpha: 0.5);
      border-radius: 4px;
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
  }
  
  .news-block .inner-box:hover{
    border-radius: 0;
  }
  
  .news-block .info{
    position: absolute;
    left: 25px;
    top: 40px;
    min-width: 50px;
    text-align: center;
  }
  
  .news-block .info li{
    display: block;
      color: rgba($cl-white, $alpha: 0.5);
      font-weight: 700;
      padding-bottom: 10px;
      border-bottom: 2px solid rgba($cl-white, $alpha: 0.5);
      margin-bottom: 13px;
  }
  .news-block .info li:last-child{
      border-bottom: 0px solid;
  }
  
  .news-block .info li span{
    display: block;
  }
  
  .news-block .info .comments{
    font-size: 16px;
    line-height: 14px;
    font-weight: 400;
  }
  .news-block .info .comments a {
      color: $cl-white;
  }
  .news-block .info .comments span{
    font-size: 14px;
      display: inline-block;
      margin-left: 5px;
  }
  
  .news-block .inner-box .content{
    position: relative;
    padding-left: 30px;
    border-left: 2px solid rgba($cl-white, $alpha: 0.2);
  }
  
  .news-block .author{
    position: relative;
      font-size: 14px;
      font-weight: 400;
      margin: 15px 0;
  }
  
  .news-block .author a{
    position: relative;
    line-height: 24px;
    color: $cl-primary;
    font-weight: 500;
  }
  
  .news-block h3{
    position: relative;
      display: block;
      font-size: 32px;
      margin-bottom: 15px;
      line-height: 34px;
      font-weight: 500;
  }
  
  .news-block h3 a{
    display: inline-block;
    color: rgba($cl-white, $alpha: 1.0);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  .news-block h3 a:hover{
    color: $cl-primary;
  }
  
  .news-block .text{
    position: relative;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  
  .news-block .link-box{
    position: relative;
  }
  
  .news-block .link-box a{
    position: relative;
    display: inline-block;
    font-size: 13px;
    line-height: 24px;
    color: $cl-white;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  .news-block .link-box a:hover{
    color: $cl-primary;
  }
  
  .news-block .link-box a:hover:after{
    color: $cl-primary;
    width: 100%;
  }
  
  .news-block .link-box a:after{
    position: absolute;
      content: "";
      height: 2px;
      background: $cl-primary;
      width: 0px;
      transition: .3s;
      left: 0;
      bottom: 0px;
  }
  
  .news-carousel .owl-dots{
    display: none;
  }
  
  .news-carousel .owl-nav{
      position: absolute;
      width: 100%;
      bottom: 0;
      z-index: 99;
      text-align: right;
  }
  
  .news-carousel .owl-prev, 
  .news-carousel .owl-next{
    position: relative;
    display: inline-block;
    height: 45px;
    width: 45px;
    line-height: 45px;
    font-size: 18px;
    font-weight: 400;
    margin: 0 5px;
    text-align: center;
    background-color: rgba($cl-white, $alpha: 0.1) !important;
    color: rgba($cl-white, $alpha: 0.8) !important;
    -webkit-transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    -ms-transition:all 300ms ease;
    -o-transition:all 300ms ease;
      transition: all 300ms ease;
  }
  
  .news-carousel .owl-prev:hover, 
  .news-carousel .owl-next:hover{
    background-color: rgba($cl-white, $alpha: 0.5) !important;
  }
     
  
  @media screen and (max-width: 1024px) {
    .news-section .news-carousel {
      margin-bottom: 0;
    }
  }
  @media screen and (max-width: 767px) {
    .news-section .news-carousel {
      margin-bottom: 0;
    }
  }
  
  @media screen and (max-width: 480px) {
    .news-section .news-carousel {
      margin-bottom: 0;
    }
  }
     
  



/*

===============================
About img
===============================

*/
.about-img {
  position: relative;
  margin-bottom: 30px;
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: $cl-blue;
    opacity: 0.5;
    content: "";
    border-radius: 6px;
  }
  img {
    width: 100%;
    border-radius: 6px;
  }
  a {
    position: absolute;
    left: 20px;
    bottom: 20px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border-radius: 50%;
    font-size: 12px;
    color: $cl-blue-2;
    background: $cl-primary;
    text-align: center;
  }
}
.about-content {
  p {
    color: rgba($cl-white, $alpha: 0.5);
  }
}
/*

===============================
Jackpots
===============================

*/

  .single-jackpot {
    margin-bottom: 30px;
    a {
      display: block;
      img {
        width: 100%;
        border-radius: 6px 6px 0 0;
      }
      .content {
        padding: 15px;
        background: rgba($cl-white, $alpha: 0.08);
        color: $cl-white;
        border-radius: 0 0 6px 6px;
        .name {
          font-size: 28px;
          font-weight: 300;
          margin-bottom: 25px;
        }
        .price-play {
          display: block;
          margin-bottom: 15px;
          font-size: 22px;
          color: $cl-mint;
          span {
            float: right;
            i {
              font-size: 10px;
              display: inline-block;
              height: 45px;
              width: 45px;
              line-height: 42px;
              text-align: center;
              border-radius: 50%;
              border: 2px solid $cl-primary;
              color: $cl-primary;
              transition: 0.3s;
            }
          }
        }
        .mrp {
          font-size: 16px;
          color: rgba($cl-white, $alpha: 0.3);
          margin-bottom: 15px;
        }
        .bttn-small {
          transform: skew(0deg);
          border-radius: 6px;
          text-align: center;
        }
      }
      &:hover {
        .price-play {
          span {
            i {
              background: $cl-primary;
              border-color: $cl-primary;
              color: $cl-blue-2;
            }
          }
        }
      }
    }
  }


.single-cat-cas {
  margin-bottom: 30px;
  padding: 25px 0px;
  border-radius: 6px;
  border: 2px solid rgba($cl-white, $alpha: 0.07);
  background: rgba($cl-white, $alpha: 0.1);
  color: $cl-white;
  text-align: center;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    background: rgba($cl-white, $alpha: 0.08);
    right: 15px;
    top: 15px;
    border-radius: 50%;
  }
  img {
    width: 50px;
    margin-bottom: 20px;
  }
  h5 {
    margin-bottom: 0;
    font-size: 14px;
    text-transform: uppercase;
    a {
      color: $cl-white;
      &:hover {
        color: $cl-primary;
      }
    }
  }
}




/*

===============================
steps-area
===============================

*/

.steps-area {
  .single-steps {
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    color: $cl-white;
    &::after {
      content: '';
      position: absolute;
      width: 70%;
      height: 32px;
      top: 25%;
      left: 70%;
      background: url(../images/arrow.png) center center no-repeat;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      @media(max-width: 991px){
        display: none;
      }
    }
    .step-number {
      position: absolute;
      content: "";
      height: 50px;
      width: 50px;
      line-height: 50px;
      font-weight: 700;
      text-align: center;
      background: $cl-primary;
      color: $cl-blue-2;
      border-radius: 50%;
      top: 10px;
      right: 45px;
      transition: 0.4s;
      @media(max-width: 767px){
        right: 80px;
      }
    }
    i {
      font-size: 60px;
      height: 180px;
      width: 180px;
      line-height: 180px;
      border-radius: 50%;
      text-align: center;
      display: block;
      color: rgba($cl-white, $alpha: 0.4);
      margin: auto;
      margin-bottom: 20px;
      border: 6px solid rgba($cl-white, $alpha: 0.2);
      transition: 0.4s;
    }
    h4 {
      font-weight: 700;
      margin-bottom: 10px;
      text-transform: capitalize;
      transition: 0.4s;
    }
    p {
      margin-bottom: -5px;
      color: rgba($cl-white, $alpha: 0.5);
    }
    &:hover {
      i {
        background: rgba($cl-white, $alpha: 0.2);
        color: $cl-primary;
      }
    }
  }
  .row [class*="col"] {
    &:last-child {
      .single-steps {
        &::after {
          display: none;
        }
      }
    }
  }
}


/*

===============================
single-new-user
===============================

*/

.single-new-user {
  cursor: pointer;
  margin-bottom: 30px;
  img {
    width: 100%;
    border-radius: 6px;
    filter: grayscale(100%);
    transition: 0.4s;
    opacity: 0.4;
    &:hover {
      filter: grayscale(0);
      opacity: 1;
      transform: scale(1.2);
    }
  }
}



/*

===============================
User Review
===============================

*/

.single-user-review {
  padding: 35px 25px;
  border: 1px solid rgba($cl-white, $alpha: 0.05);
  box-shadow: rgba($color: $cl-white, $alpha: 0.1) 0px 0px 6px 2px;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 30px;
  .quote-icon {
      margin-bottom: 30px;
      img {
          width: 30px;
      }
  }
  .review {
      position: relative;
      margin-bottom: 40px;
      &::before {
          position: absolute;
          height: 2px;
          width: 50px;
          content: "";
          background: $cl-primary;
          left: 50%;
          transform: translateX(-50%);
          bottom: -20px;
      }
      p {
          font-size: 24px;
          line-height: 1.4;
          color: rgba($cl-white, $alpha: 0.5);
          font-weight: 300;
      }
  }
  .reviewer-thumb {
      img {
          width: 60px;
          border-radius: 50%;
          margin-bottom: 10px;
      }
      p {
          margin-bottom: 10px;
          font-weight: 700;
          font-size: 18px;
          color: rgba($cl-white, $alpha: 0.4);
      }
  }
}



/*

===============================
Single Box
===============================

*/



.single-box {
  position: relative;
  padding: 40px;
  color: $cl-white;
  border-radius: 10px;
  z-index: 1;
  margin-bottom: 30px;
  &::before {
    background: rgb(19, 33, 82);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    border-radius: 10px;
  }
  img {
    margin-bottom: 30px;
    width: 50px;
  }
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 300;
  }
  p {
    margin-bottom: 20px;
    color: #ffffffb8;
  }
}


/*

===============================
Single Play now
===============================

*/
.single-playnow {
  background: $cl-blue;
  padding: 30px;
  text-align: center;
  color: $cl-white;
  border-radius: 8px;
  border: 1px solid rgba($cl-blue-2, $alpha: 0.2);
  margin-bottom: 30px;
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.18);
  transition: 0.6s;
  position: relative;
  &::after {
    position: absolute;
    content: "\f141";
    color: rgba($cl-white, $alpha: 0.1);
    font-size: 60px;
    top: 25px;
    right: 10px;
    font-family: Flaticon;
    transition: 0.5s;
  }
  img {
    width: 220px;
    margin-bottom: 10px;
  }
  h4 {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 30px;
  }
  &:hover {
    background: $cl-blue-2;
    a {
      transform: scale(1.2);
    }
    &::after {
      font-size: 90px;
      top: 40px;
      right: 30px;
    }
  }
}



  
/*

===============================
payments Area
===============================

*/
.single-payments {
  text-align: center;
  margin-bottom: 60px;
  a {
    display: block;
    border-radius: 8px;
    transition: 0.4;
    &:hover {
      border-color: $cl-violet;
      img {
        filter: grayscale(50%);
        opacity: 0.8;
      }
    }
    img {
      height: 30px;
      width: auto !important;
      margin: auto;
      filter: grayscale(100%);
      opacity: 0.4;
    }
  }
}


/*

===============================
call-to-action
===============================

*/
.call-to-action {
  padding: 40px 80px;
  position: relative;
  background: rgba($cl-white, $alpha: 0.08);
  border: 2px solid rgba($cl-white, $alpha: 0.1);
  border-radius: 8px;
  color: $cl-white;
  &::before {
    position: absolute;
    content: "";
    right: -100px;
    bottom: -100px;
    width: 523px;
    height: 395px;
    background: url(../images/footer-bottom-1.png) no-repeat;
    opacity: 0.1;
    @media(max-width: 991px){
        display: none;
    }
  }
  @media(max-width: 767px){
    padding: 40px;
  }
  h4 {
    margin-bottom: 20px;
  }
  h1 {
    margin-bottom: 10px;
    font-size: 114px;
    color: $cl-primary;
    span {
      font-size: 16px;
    }
    @media(max-width: 767px){
      font-size: 52px;
    }
  }
  .cat-btns {
    a {
      margin-bottom: 10px;
    }
  }
}

.last-winners {
  padding: 30px;
  background: rgba($cl-white, $alpha: 0.08);
  border: 2px solid rgba($cl-white, $alpha: 0.1);
  border-radius: 8px;
  color: $cl-white;
  max-height: 375px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
      width: 4px;
  }
  &::-webkit-scrollbar-thumb {
      background: $cl-primary;
      border-radius: 50px;
  }
  &::-webkit-scrollbar-track {
    background: rgba($cl-white, $alpha: 0.2);
  }
  h4 {
    margin-bottom: 20px;
  }
  .single-winner {
    margin-bottom: 20px;
    background: rgba($cl-white, $alpha: 0.07);
    border-radius: 8px;
    padding: 15px;
    overflow: hidden;
    &:last-child {
      margin-bottom: 0px;
    }
    .thumb {
      height: 45px;
      width: 45px;
      line-height: 45px;
      text-align: center;
      font-size: 24px;
      border-radius: 50%;
      background: rgba($cl-white, $alpha: 0.15);
      margin-right: 15px;
      float: left;
      color: $cl-primary;
    }
    .content {
      float: left;
      width: calc(100% - 60px);
      p {
        margin-bottom: 0;
        font-size: 14px;
        span {
          color: $cl-primary;
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }
}



/*

===============================
Newslatter
===============================

*/
.newslatter {
  form {
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 30px;
      @media(max-width: 575px){
        display: block;
      }
      input {
          height: 55px;
          flex: 1 1 70%;
          border: 2px solid;
          border-color: rgba($cl-white, $alpha: 0.1);
          background: transparent;
          color: $cl-white;
          transition: 0.3s;
          padding: 0 15px;
          margin-right: 20px;
          &::placeholder {
            color: rgba($cl-white, $alpha: 0.3);
          }
          &:focus {
              border-color: $cl-primary;
          }
          @media(max-width: 575px){
            width: 100%;
            margin-right: 0;
            margin-bottom: 15px;
            text-align: center;
          }
      }
      button {
          height: 55px;
          flex: 1 1 30%;
          background: transparent;
          color: rgba($cl-white, $alpha: 0.3);
          border: 2px solid;
          border-color: rgba($cl-white, $alpha: 0.1);
          font-weight: 700;
          font-size: 14px;
          text-transform: uppercase;
          @media(max-width: 575px){
            width: 100%;
          }
          &:hover {
              color: $cl-blue-2;
              background: $cl-primary;
              border-color: $cl-primary;
          }
      }
  }
  .social {
      a {
          font-size: 20px;
          display: inline-block;
          margin: 0 8px;
          color: rgba($cl-white, $alpha: 0.3);
          &:hover {
              color: $cl-primary;
          }
      }
  }
}


/*

===============================
Blog
===============================

*/

.single-blog-block {
  margin-bottom: 30px;  
  background: rgba($cl-white, $alpha: 0.08);
  border: 2px solid rgba($cl-white, $alpha: 0.1);
  color: $cl-white;
  transition: 0.3s;
  &:hover {
      border-color: rgba($cl-primary, $alpha: 0.4);
  }
  a {
      padding: 30px;
      border-radius: 6px;
      color: $cl-white;
      display: block;
      .thumb {
          margin-bottom: 20px;
          img {
              width: 100%;
          }
      }
      .title {
          margin-bottom: 15px;
          h2 {
              font-size: 32px;
              color: $cl-white;
              font-weight: 300;
          }
      }
      .meta {
          font-weight: 700;
          margin-bottom: 15px;
          .date {
              display: inline-block;
              margin-right: 15px;
          }
          .author {
              text-transform: uppercase;
              display: inline-block;
          }
      }
  }
}

.blog-details {
  color: rgba($cl-white, $alpha: 0.5);
  img {
    width: 100%;
    margin-bottom: 30px;
  }
  .blog-meta {
    margin-bottom: 10px;
    span {
      a {
        margin-right: 10px;
        font-size: 14px;
        display: inline-block;
        color: $cl-white;
        &:hover {
          color: $cl-primary;
        }
        i {
          color: $cl-primary;
          font-size: 16px;
          font-weight: bold;
          margin-right: 5px;
        }
      }
    }
  }
  h2 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
  }
  .blockquote {
    font-size: 16px;
    font-style: italic;
    padding-left: 15px;
    margin: 20px 0;
    padding: 20px;
    background: $cl-blue;
  }
}

.blog-all-comments {
  color: rgba($cl-white, $alpha: 0.5); 
  h3 {
    margin-bottom: 20px;
    font-weight: 600;
  }
  .blog-comments {
    margin-bottom: 40px;
    padding: 30px 40px;
    overflow: hidden;
    background: rgba($cl-white, $alpha: 0.05);
    border-radius: 6px;
    div {
      overflow: hidden;
    }
    .author-thumb {
      width: 20%;
      float: left;
      img {
        border-radius: 6px;
        width: 70px;
      }
    }
    .author-comments {
      .author-details {
        h4 {
          float: left;
          font-size: 18px;
        }
        .comment-reply-btn {
          float: right;
          
        }
      }
      .author-designation {
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 5px;
        font-style: italic;
      }
    }
  }
}
.blog-comment-form {
  margin-bottom: 30px;
  color: rgba($cl-white, $alpha: 0.5);
  h3 {
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  input, textarea {
    width: 100%;
    border: 2px solid rgba($cl-white, $alpha: 0.08);
    text-indent: 20px;
    margin-bottom: 30px;
    transition: .3s;
    background: transparent;
    color: $cl-white;
    border-radius: 4px;
    &::placeholder {
      color: rgba($cl-white, $alpha: 0.5);
    }
    &:focus {
      border-color: rgba($cl-primary, $alpha: 0.5);
    }
  }
  input {
    height: 50px;
  }
  textarea {
    padding-top: 15px;
  }
}

.blog-comments + .blog-comments {
    margin-left: 15%;
}




@media (max-width: 767px){
  .blog-comment-form {
    margin-bottom: 40px;
  }
}


.post-share-and-tag {
  margin: 40px 0 60px 0;
  .social {
    color: rgba($cl-white, $alpha: 0.5);
    @media(max-width: 767px){
      float: none;
      text-align: left;
      margin-top: 20px;
    }
    span {
      font-size: 20px;
      font-weight: 700;
    }
    a {
      font-size: 18px;
      text-align: center;
      display: inline-block;
      margin: 0 5px;
      &:hover {
        color: $cl-primary;
      }
    }
  }
  .tags {
    color: $cl-primary;
    a {
      color: $cl-white;
      text-transform: capitalize;
      &:hover {
        color: $cl-primary;
      }
    }
  }
}



.blog-details {
  .big-thumb {
    width: 100%;
    margin-bottom: 30px;
  }
  .blockquote {
    border-radius: 8px;
    background: rgba($cl-white, $alpha: 0.05);
    padding: 30px;
    border-bottom: 2px solid rgba($cl-primary, $alpha: 0.5)
  }
}



/*

===============================
Pagination
===============================

*/

.pagination {
  li {
    display: inline-block;
    &.active {
      .page-link {
          background: $cl-primary;
          border-color: $cl-primary;
          color: $cl-black;
      }
    }
    a {
      color: $cl-white;
      background: rgba($cl-white, $alpha: 0.1);
      border-color: rgba($cl-white, $alpha: 0.005);
      &:hover {
        background: $cl-primary;
        border-color: $cl-primary;
        color: $cl-black;
      }
    }
    &.disabled {
      .page-link {
        background: rgba($cl-white, $alpha: 0.1);
        border-color: rgba($cl-white, $alpha: 0.005);
        color: $cl-white;
      }
    }
  }
}



/*

===============================
Faq Area
===============================

*/
.faq-content {
  .single-faq-box {
    margin-bottom: 30px;
    padding: 30px;
    background: rgba($cl-white, $alpha: 0.05);
    border-radius: 6px;
    color: rgba($cl-white, $alpha: 0.5);
    border: 2px solid rgba($cl-white, $alpha: 0.07);
    h4 {
      font-size: 20px;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 0;
    }
  }
  .nav-item {
    margin: 0 12px 6px 0;
    .bttn-small.btn-fill {
      transform: skew(0deg);
      border-radius: 4px;
      background: rgba($cl-white, $alpha: 0.01);
      color: rgba($cl-white, $alpha: 0.5);
    }
    .bttn-small.btn-fill.active {
      background: rgba($cl-white, $alpha: 0.07);
      color: $cl-white;
    }
  }
}



/*

===============================
Counter Area
===============================

*/

.counter-area{
  background-size: cover;
  .single-counter {
    margin-bottom: 30px;
    text-align: center;
    color: $cl-white;
    padding: 30px;
    background: rgba($cl-white, $alpha: 0.1);
    transition: 0.4s;
    transform: skew(-15deg);
    border-bottom: 3px solid $cl-primary;
    @media(max-width: 575px){
      margin-bottom: 50px;
      transform: skew(0deg);
    }
    h3 {
      font-size: 52px;
      font-weight: 300;
      margin-bottom: 10px;
      letter-spacing: 4px;
      @media(max-width: 575px){
        font-size: 42px;
      }
    }
    h5 {
      font-size: 18px;
      font-weight: 300;
      text-transform: capitalize;
    }
    &:hover {
      border-color: $cl-primary;
    }
  }
}





/*

===============================
Breadcrumb area
===============================

*/

.breadcrumb-area {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  color: $cl-white;
  .site-breadcrumb {
    text-align: center;
    h2 {
      font-size: 52px;
      font-weight: 700;
      text-transform: capitalize;
      margin-bottom: 20px;
    }
    ul {
      display: inline-block;
      padding: 8px 30px;
      background: rgb(65, 27, 140);
      border-radius: 8px;
      li {
        display: inline-block;
        font-weight: 400;
        font-size: 16px;
        a {
          margin-right: 20px;
          position: relative;
          color: $cl-white;
          font-weight: 700;
          &:after {
            position: absolute;
            content: "\f105";
            font-family: Fontawesome;
            right: -15px;
            top: -4px;
            font-weight: normal;
          }
          &:hover {
            color: $cl-primary;
          }
        }
      }
    }
  }
}





/*

===============================
inplay-details
===============================

*/

.inplay-details {
  .single-inplay {
    overflow: hidden;
    display: block;
    cursor: pointer;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid rgba($cl-white, $alpha: 0.1);
    margin-bottom: 20px;
    .img {
      width: 75px;
      float: left;
      img {
        width: 40px;
      }
    }
    .text {
      float: left;
      color: rgba($cl-white, $alpha: 0.5);
      h4 {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 5px;
      }
      p {
        font-size: 14px;
        margin: 0;
      }
    }
    .ball {
      float: right;
      a {
        display: inline-block;
        height: 45px;
        width: 45px;
        text-align: center;
        line-height: 45px;
        font-weight: 700;
        background: $cl-primary;
        color: $cl-blue;
        border-radius: 50%;
        &:hover {
          background: $cl-violet;
          color: $cl-white;
        }
      }
    }
    &:hover {
      background: rgba($cl-white, $alpha: 0.05);
    }
  }
}


/*

===============================
Privacy polices area
===============================

*/


.polices-content {
  margin-top: -6px;
  h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }
  h3 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  p {
    margin-bottom: 30px;
  }
  ul {
    li {
      position: relative;
      margin-bottom: 20px;
      padding-left: 25px;
      &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: "\f111";
        font-family: Fontawesome;
        color: $cl-blue;
        font-size: 8px;
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  &.cl-white {
    ul {
      li {
        &:before {
          color: $cl-white;
        }
      }
    }
  }
}


/*

===============================
site form area
===============================

*/

.site-form {
  form {
    h4 {
      font-weight: 300;
      font-size: 24px;
      margin-bottom: 10px;
    }
    p {
      font-family: $headding-font;
      font-size: 16px;
      margin-bottom: 15px;
    }
    input, textarea {
      width: 100%;
      border: 2px solid rgba($cl-white, $alpha: 0.1);
      background: transparent;
      color: $cl-white;
      text-indent: 15px;
      margin-bottom: 15px;
      font-family: $headding-font;
      font-size: 16px;
      border-radius: 4px;
      &:focus {
        border: 2px solid rgba($cl-white, $alpha: 0.2);
      }
      &::placeholder {
        color: rgba($cl-white, $alpha: 0.4);
      }
    }
    input {
      height: 55px;
    }
    select {
      height: 55px;
      background: #1C4256;
      border: 2px solid rgba($cl-white, $alpha: 0.1);
      color: rgba($cl-white, $alpha: 0.4);
      &:focus {
        border: 2px solid rgba($cl-white, $alpha: 0.2);
        outline: none;
        box-shadow: none;
      }
    }
    textarea {
      text-indent: 0;
      padding: 10px 15px;
    }
    .extra-links {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 15px;
      a {
        color: rgba($cl-white, $alpha: 0.5);
        &:hover {
          color: $cl-primary;
        }
      }
    }
  }
}


/*

===============================
account-form
===============================

*/
.account-form {
  .title {
    margin-bottom: 30px;
    text-align: center;
    h3 {
      font-weight: 300;
    }
  }
  .via-login {
    text-align: center;
    margin-bottom: 30px;
    a {
      margin-bottom: 10px;
      i {
        margin-right: 7px;
      }
      width: 100%;
      display: block;
      padding: 10px 0;
      color: $cl-white;
      border-radius: 4px;
      font-family: $headding-font;
      font-size: 16px;
    }
  }
  form {
    input {
      width: 100%;
      height: 45px;
      text-indent: 10px;
      border: 2px solid $cl-blue;
      background: $cl-blue;
      margin-bottom: 15px;
      border-radius: 4px;
      color: $cl-white;
      &:focus {
        border-color: #4a2296;
      }
    }
    button {
      margin-bottom: 15px;
    }
    p {
      font-size: 13px;
      text-align: center;
      font-family: $headding-font;
      a {
        color: $cl-primary;
        &:hover {
          color: $cl-primary;
          text-decoration: underline;
        }
      }
    }
  }
}


/*

===============================
Basic Card
===============================

*/
.card {
  border: 1px solid rgba($cl-white, $alpha: 0.1);
  background: rgba($cl-white, $alpha: 0.1);
  color: rgba($cl-white, $alpha: 0.8);
  .card-header {
    background: rgba($cl-white, $alpha: 0.1);
    border: 1px solid rgba($cl-white, $alpha: 0.1);
    color: $cl-white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    span {
      font-weight: 300;
      font-size: 16px;
    }
    strong {
      color: $cl-primary;
      font-weight: 400;
    }
    a {
      float: right;
      color: $cl-primary;
    }
    img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
  .card-body {
    p {
      &:last-child {
        margin-bottom: 0;
      }
      strong {
        color: $cl-primary;
        &:hover {
          color: $cl-primary;
        }
      }
    }
    .link {
      color: $cl-yellow;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 700;
      &:hover {
        color: $cl-primary;
      }
      i {
        margin-right: 5px;
      }
    }
  }
  ul {
    li {
      background: rgba($cl-white, $alpha: 0.1);
      border-bottom: 1px solid rgba($cl-white, $alpha: 0.1);
      a {
        color: $cl-primary;
        font-weight: 500;
        &:hover {
          color: $cl-white;
        }
      }
    }
  }
}


/*

===============================
Transaction List
===============================

*/
.transaction-list {
  .table {
    margin-bottom: 0;
    border: 1px solid rgba($cl-white, $alpha: 0.1);
    background: rgba($cl-white, $alpha: 0.1);
    color: rgba($cl-white, $alpha: 0.6);
    border-radius: 4px;
    min-width: 870px;
    thead {
      background: rgba($cl-white, $alpha: 0.2);
      color: $cl-white;
      tr {
        th {
          padding: 20px;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 500;
          border: 1px solid rgba($cl-white, $alpha: 0.1);
        }
      }
    }
    tbody {
      tr {
        cursor: pointer;
        th {
          padding: 20px;
          vertical-align: middle;
        }
        td {
          font-size: 16px;
          padding: 15px;
          vertical-align: middle;
          border-top: 1px solid rgba($cl-white, $alpha: 0.1);
          strong {
            font-weight: 500;
          }
          i {
            font-size: 18px;
          }
          span {
            font-size: 14px;
            font-weight: 300;
          }
        }
        &:hover {
          color: $cl-white;
        }
      }
    }
  }
}


.transaction-modal-left {
  color: rgba($cl-white, $alpha: 0.5);
  i {
    font-size: 80px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 32px;
    font-weight: 300;
    color: $cl-primary;
  }
  .completed {
    padding: 3px 18px;
    border-radius: 4px;
    background: rgba($cl-white, $alpha: 0.14);
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 700;
    color: $cl-white;
  }
  .cancelled {
    padding: 3px 18px;
    border-radius: 4px;
    background: rgba($cl-primary, $alpha: 0.14);
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 700;
    color: $cl-white;
  }
}

.transaction-modal-details {
  padding: 20px;
  max-height: 480px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  &::-webkit-scrollbar-thumb {
    background: $cl-primary; 
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $cl-blue; 
  }
  .faq-contents {
    .accordion {
      li {
        a {
          font-size: 18px;
          padding-left: 40px;
          &::after {
            left: 15px;
            top: 24px;
            transform: rotate(-45deg);
          }
          &.active {
            &::after {
              transform: rotate(45deg);
            }
          }
        }
        p {
          font-size: 14px;
          padding-left: 40px;
          padding-top: 0;
        }
      }
    }
  }
}


/*

===============================
Dashboard Profile
===============================

*/

.profile-card-body {
  .thumb {
    margin-bottom: 20px;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
  .right-info {
    p {
      font-weight: 500;
      color: $cl-white;
    }
    a {
      font-weight: 500;
      color: $cl-red;
      &:hover {
        color: $cl-primary;
      }
    }
  }
}




/*

===============================
FAQ Area
===============================

*/
.faq-contents {
  display: block;
  height: auto;
}

.faq-contents .accordion {
  list-style: none;
  padding: 0;
}

.faq-contents .accordion li {
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.faq-contents .accordion li:last-child {
  margin-bottom: 0px;
}

.faq-contents .accordion li p {
  display: none;
  padding: 10px 30px 20px 20px;
  color: #434a53;
  font-size: 16px;
  background: #ffffff;
  margin-bottom: 0;
  line-height: 2;
  border-radius: 4px;
}

.faq-contents .accordion li a {
  width: 100%;
  display: block;
  cursor: pointer;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #434a53;
  user-select: none;
  font-weight: 700;
}

.faq-contents .accordion li a i {
  font-size: 18px;
  color: #ffffff;
  margin-right: 20px;
}

.faq-contents .accordion li a.active {
  color: #434a53;
  border: 0;
}

.faq-contents .accordion li a.active::after {
  transform: rotate(225deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-right: 2px solid $cl-black;
  border-bottom: 2px solid $cl-black;
}

.faq-contents .accordion li a::after {
  width: 10px;
  height: 10px;
  border-right: 2px solid $cl-black;
  border-bottom: 2px solid $cl-black;
  position: absolute;
  right: 25px;
  content: " ";
  top: 22px;
  transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}



/*

===============================
Notification
===============================

*/
.single-notification {
  padding: 20px;
  background: rgba($cl-primary, $alpha: 0.04);
  border-radius: 5px;
  margin-bottom: 20px;
  p {
    margin-bottom: 0;
    font-size: 14px;
  }
}


/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 30px;
  font-size: 18px;
  margin-bottom: 5px;
  color: $cl-white;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid $cl-primary;
  position: absolute;
  left: 0;
  top: 3px;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}



/* Sent Success */
.sent-success {
  text-align: center;
  padding: 40px 0;
  .icon {
    font-size: 36px;
    height: 80px;
    width: 80px;
    line-height: 80px;
    border-radius: 50%;
    background: $cl-primary;
    color: $cl-white;
    margin: auto;
    margin-bottom: 30px;
  }
  h3 {
    font-weight: 400;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
  }
}

/* single-fee */
.single-fee {
  padding: 40px 30px;
  margin-bottom: 30px;
  background: rgba($cl-white, $alpha: 0.1);
  border-radius: 6px;
  text-align: center;
  color: rgba($cl-white, $alpha: 0.6);
  border-bottom: 3px solid $cl-primary;
  i {
    font-size: 36px;
    margin-bottom: 30px;
    color: $cl-primary;
    display: inline-block;
  }
  h3 {
    font-size: 26px;
    margin-bottom: 15px;
    color: $cl-white;
    font-weight: 300;
  }
  p {
    margin-bottom: 0;
    font-size: 18px;
  }
}



